**/.project
**/.settings
**/.classpath
openam-nodes/*/.idea/
openam-nodes/*/target/
openam-nodes/*/*.iml
openam-nodes/*/.classpath
openam-nodes/*/.project
openam-nodes/*/.factorypath
openam-nodes/*/.settings
gcp-gcs-service-account.json
.DS_Store
ignore
/.idea/*
/gitlab/*
/src/DoFormat.groovy
/ciam-aws-deployment.iml
